__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.log
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.db
celerybeat-schedule
celerybeat.pid
celery_sync.log
*celerybeat*
dump.rdb
migrations/__pycache__/
migrations/versions/__pycache__/
.vscode/
.idea/
*.pid
*.sock
*.pid.lock
docker-compose.override.yml
.docker/
