Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-JWT-Extended==4.6.0
Flask-Marshmallow==0.15.0
marshmallow==3.21.1
marshmallow-sqlalchemy==0.28.1
Werkzeug==2.3.7
celery==5.3.4
redis==5.0.3
python-dotenv==1.0.1
requests==2.31.0
webargs==8.3.0
flask-smorest==0.41.0
PyMySQL==1.1.0
cryptography==41.0.3
email-validator==2.1.0
